# =====================================================
# Python Cache
# =====================================================

__pycache__/
*.py[cod]
*.pyo

# =====================================================
# Virtual Environment
# =====================================================

venv/
.venv/

# =====================================================
# VS Code
# =====================================================

.vscode/

# =====================================================
# Jupyter
# =====================================================

.ipynb_checkpoints/

# =====================================================
# Dataset (Download from Kaggle)
# =====================================================

datasets/

# =====================================================
# Model Files
# =====================================================

*.pkl

# Keeping only the model files required by Streamlit
!outputs/fake_news_model.pkl
!outputs/tfidf.pkl

# =====================================================
# Generated Local Files
# =====================================================

cleaned_fake_news.csv
model_comparison.csv

# =====================================================
# Operating System Files
# =====================================================

Thumbs.db
.DS_Store
desktop.ini

