# =====================================================
# Python Cache
# =====================================================
__pycache__/
*.py[cod]
*.pyo

# =====================================================
# Virtual Environment
# =====================================================
venv/
.venv/

# =====================================================
# VS Code
# =====================================================
.vscode/

# =====================================================
# Jupyter
# =====================================================
.ipynb_checkpoints/

# =====================================================
# Model Files
# =====================================================
*.pkl

# =====================================================
# Generated Output Files
# =====================================================
outputs/
cleaned_fake_news.csv
model_comparison.csv

# =====================================================
# Dataset (Download from Kaggle)
# =====================================================
datasets/

# =====================================================
# Operating System Files
# =====================================================
Thumbs.db
.DS_Store
desktop.ini